In [1]:
import pandas as pd 
import numpy as np
import re
import glob

In [2]:
data_path = "./new_data/*.csv"  # Pattern to match all CSV files
csv_files = glob.glob(data_path)

In [3]:
dfs = [pd.read_csv(file,low_memory=False) for file in csv_files]
new_data = pd.concat(dfs, ignore_index=True)

In [4]:
new_data

,yr,service,inci_id,calltime,case_id,callsource,nature,closecode,closed_as,secs_to_disp,secs_to_arrv,secs_to_close,disp,arrv,beat,priority,zip,primeunit,units_dispd,units_arrived
0,2018,LAW,18000001,2018-01-01 00:01:07.000,NaN,W911,SHOTS FIRED,QOA,QUIET ON ARRIVAL,1459.0,1459.0,1612,1,1,EP05,3,97402,5E65,1,1
1,2018,LAW,18000002,2018-01-01 00:01:16.000,NaN,E911,ILLEGAL FIREWORKS,DDIS,DISREGARDED BY DISPATCH,NaN,NaN,6806,0,0,EP01,5,97408,NaN,0,0
2,2018,LAW,18000004,2018-01-01 00:02:24.000,NaN,PHONE,ILLEGAL FIREWORKS,DDIS,DISREGARDED BY DISPATCH,NaN,NaN,6742,0,0,EP01,5,97401,NaN,0,0
3,2018,LAW,18000005,2018-01-01 00:03:04.000,NaN,E911,ILLEGAL FIREWORKS,DDIS,DISREGARDED BY DISPATCH,NaN,NaN,6704,0,0,EP05,5,97402,NaN,0,0
4,2018,LAW,18000016,2018-01-01 00:07:28.000,NaN,W911,ILLEGAL FIREWORKS,DDIS,DISREGARDED BY DISPATCH,NaN,NaN,6443,0,0,EP01,5,97408,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1488572,2016,LAW,16317999,2016-12-31 23:47:13.000,1700002.0,SELF,TRAFFIC STOP,REPT,REPORT TAKEN,0.0,0.0,13553,1,1,EP05,6,97402,5E46,2,2
1488573,2016,LAW,16318002,2016-12-31 23:51:56.000,NaN,PHONE,BEAT INFORMATION,UTD,UNABLE TO DISPATCH,NaN,NaN,362,0,0,EPUO,5,97401,NaN,0,0
1488574,2016,LAW,16318004,2016-12-31 23:55:57.000,NaN,PHONE,ASSIST PUBLIC- POLICE,ASST,ASSISTED,7722.0,7722.0,8255,1,1,EP01,7,97401,CAHOOT,1,1
1488575,2016,LAW,16318007,2016-12-31 23:59:27.000,NaN,PHONE,TRANSPORT,ASST,ASSISTED,8534.0,9292.0,9391,1,1,EP02,7,97401,CAHOOT,1,1
1488576,2016,LAW,16318008,2016-12-31 23:59:44.000,NaN,PHONE,SHOTS FIRED,PCHK,PATROL CHECK,702.0,NaN,708,1,0,EP05,3,97402,CMD1,1,1

In [5]:
new_data['primeunit'].unique()

array(['5E65  ', nan, '4E42  ', ..., 'STF35 ', '1407  ', '5H61  '],
      dtype=object)

In [6]:
len(new_data['primeunit'].unique())

1827

In [7]:
new_data

,yr,service,inci_id,calltime,case_id,callsource,nature,closecode,closed_as,secs_to_disp,secs_to_arrv,secs_to_close,disp,arrv,beat,priority,zip,primeunit,units_dispd,units_arrived
0,2018,LAW,18000001,2018-01-01 00:01:07.000,NaN,W911,SHOTS FIRED,QOA,QUIET ON ARRIVAL,1459.0,1459.0,1612,1,1,EP05,3,97402,5E65,1,1
1,2018,LAW,18000002,2018-01-01 00:01:16.000,NaN,E911,ILLEGAL FIREWORKS,DDIS,DISREGARDED BY DISPATCH,NaN,NaN,6806,0,0,EP01,5,97408,NaN,0,0
2,2018,LAW,18000004,2018-01-01 00:02:24.000,NaN,PHONE,ILLEGAL FIREWORKS,DDIS,DISREGARDED BY DISPATCH,NaN,NaN,6742,0,0,EP01,5,97401,NaN,0,0
3,2018,LAW,18000005,2018-01-01 00:03:04.000,NaN,E911,ILLEGAL FIREWORKS,DDIS,DISREGARDED BY DISPATCH,NaN,NaN,6704,0,0,EP05,5,97402,NaN,0,0
4,2018,LAW,18000016,2018-01-01 00:07:28.000,NaN,W911,ILLEGAL FIREWORKS,DDIS,DISREGARDED BY DISPATCH,NaN,NaN,6443,0,0,EP01,5,97408,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1488572,2016,LAW,16317999,2016-12-31 23:47:13.000,1700002.0,SELF,TRAFFIC STOP,REPT,REPORT TAKEN,0.0,0.0,13553,1,1,EP05,6,97402,5E46,2,2
1488573,2016,LAW,16318002,2016-12-31 23:51:56.000,NaN,PHONE,BEAT INFORMATION,UTD,UNABLE TO DISPATCH,NaN,NaN,362,0,0,EPUO,5,97401,NaN,0,0
1488574,2016,LAW,16318004,2016-12-31 23:55:57.000,NaN,PHONE,ASSIST PUBLIC- POLICE,ASST,ASSISTED,7722.0,7722.0,8255,1,1,EP01,7,97401,CAHOOT,1,1
1488575,2016,LAW,16318007,2016-12-31 23:59:27.000,NaN,PHONE,TRANSPORT,ASST,ASSISTED,8534.0,9292.0,9391,1,1,EP02,7,97401,CAHOOT,1,1
1488576,2016,LAW,16318008,2016-12-31 23:59:44.000,NaN,PHONE,SHOTS FIRED,PCHK,PATROL CHECK,702.0,NaN,708,1,0,EP05,3,97402,CMD1,1,1

In [8]:
cahoots = new_data[(new_data['primeunit'] == 'CAHOOT')]

In [9]:
cahoots

,yr,service,inci_id,calltime,case_id,callsource,nature,closecode,closed_as,secs_to_disp,secs_to_arrv,secs_to_close,disp,arrv,beat,priority,zip,primeunit,units_dispd,units_arrived
14,2018,LAW,18000044,2018-01-01 00:20:49.000,NaN,PHONE,ASSIST PUBLIC- POLICE,ASST,ASSISTED,692.0,707.0,2630,1,1,EP02,5,97401,CAHOOT,1,1
27,2018,LAW,18000071,2018-01-01 00:48:34.000,NaN,PHONE,ASSIST PUBLIC- POLICE,GOA,GONE ON ARRIVAL,30423.0,31012.0,31279,1,1,EP04,7,97402,CAHOOT,1,1
28,2018,LAW,18000079,2018-01-01 01:00:06.000,NaN,PHONE,ASSIST PUBLIC- POLICE,ASST,ASSISTED,2822.0,2822.0,4451,1,1,EP02,7,97401,CAHOOT,1,1
37,2018,LAW,18000118,2018-01-01 01:53:28.000,NaN,PHONE,CHECK WELFARE,UTL,UNABLE TO LOCATE,1265.0,2460.0,3045,1,1,EP05,7,97402,CAHOOT,1,1
38,2018,LAW,18000120,2018-01-01 01:56:06.000,NaN,PHONE,TRANSPORT,ASST,ASSISTED,18218.0,18765.0,20895,1,1,EP02,7,97401,CAHOOT,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1488507,2016,LAW,16317872,2016-12-31 21:16:44.000,NaN,PHONE,TRANSPORT,ASST,ASSISTED,10781.0,13707.0,14343,1,1,EP02,7,97401,CAHOOT,1,1
1488522,2016,LAW,16317905,2016-12-31 21:55:13.000,NaN,PHONE,TRANSPORT,DIS,DISREGARD,NaN,NaN,11696,0,0,EP02,7,97401,CAHOOT,0,0
1488557,2016,LAW,16317978,2016-12-31 23:17:05.000,NaN,PHONE,CHECK WELFARE,UTL,UNABLE TO LOCATE,2034.0,2783.0,3532,1,1,EP05,5,97402,CAHOOT,1,1
1488574,2016,LAW,16318004,2016-12-31 23:55:57.000,NaN,PHONE,ASSIST PUBLIC- POLICE,ASST,ASSISTED,7722.0,7722.0,8255,1,1,EP01,7,97401,CAHOOT,1,1
1488575,2016,LAW,16318007,2016-12-31 23:59:27.000,NaN,PHONE,TRANSPORT,ASST,ASSISTED,8534.0,9292.0,9391,1,1,EP02,7,97401,CAHOOT,1,1

In [10]:
features = cahoots[['calltime','zip','priority','nature','primeunit']]

In [11]:
features['primeunit'].value_counts()

primeunit
CAHOOT    182581
Name: count, dtype: int64

In [12]:
features['RespondingUnitCallSign'].value_counts()

KeyError: 'RespondingUnitCallSign'

In [ ]:
features

,calltime,zip,priority,nature,primeunit
14,2018-01-01 00:20:49.000,97401,5,ASSIST PUBLIC- POLICE,CAHOOT
27,2018-01-01 00:48:34.000,97402,7,ASSIST PUBLIC- POLICE,CAHOOT
28,2018-01-01 01:00:06.000,97401,7,ASSIST PUBLIC- POLICE,CAHOOT
37,2018-01-01 01:53:28.000,97402,7,CHECK WELFARE,CAHOOT
38,2018-01-01 01:56:06.000,97401,7,TRANSPORT,CAHOOT
...,...,...,...,...,...
1488507,2016-12-31 21:16:44.000,97401,7,TRANSPORT,CAHOOT
1488522,2016-12-31 21:55:13.000,97401,7,TRANSPORT,CAHOOT
1488557,2016-12-31 23:17:05.000,97402,5,CHECK WELFARE,CAHOOT
1488574,2016-12-31 23:55:57.000,97401,7,ASSIST PUBLIC- POLICE,CAHOOT
1488575,2016-12-31 23:59:27.000,97401,7,TRANSPORT,CAHOOT

In [ ]:
features.dtypes

calltime     object
zip          object
priority     object
nature       object
primeunit    object
dtype: object

In [ ]:
features['Call_Created_Time'] = pd.to_datetime(features['Call_Created_Time'], errors='coerce')

/var/folders/q5/0z0yqctd3xb1wgpb7qcl0g140000gn/T/ipykernel_92939/2359831587.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  features['Call_Created_Time'] = pd.to_datetime(features['Call_Created_Time'], errors='coerce')
/var/folders/q5/0z0yqctd3xb1wgpb7qcl0g140000gn/T/ipykernel_92939/2359831587.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features['Call_Created_Time'] = pd.to_datetime(features['Call_Created_Time'], errors='coerce')

In [ ]:
features['zip'].value_counts()

zip
97402    46502
97401    43387
97401    32146
97402    26493
97405     8089
          5592
97405     5437
97404     5398
97404     2874
97403     2578
97408     1748
97403     1438
97408      891
94701        5
97477        1
97448        1
97448        1
Name: count, dtype: int64

In [ ]:
features['zip'] = features['zip'].fillna(0)

/var/folders/q5/0z0yqctd3xb1wgpb7qcl0g140000gn/T/ipykernel_92939/1786257505.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features['zip'] = features['zip'].fillna(0)

In [ ]:
features['zip'] = features['zip'].astype(str).str.strip()
features['zip'] = features['zip'].replace('', pd.NA)
features['zip'] = features['zip'].fillna('0')
features['zip'] = features['zip'].astype(int)
zip_counts = features['zip'].value_counts()
print(zip_counts)

zip
97401    75533
97402    72995
97405    13526
97404     8272
0         5592
97403     4016
97408     2639
94701        5
97448        2
97477        1
Name: count, dtype: int64

/var/folders/q5/0z0yqctd3xb1wgpb7qcl0g140000gn/T/ipykernel_92939/2777375937.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features['zip'] = features['zip'].astype(str).str.strip()
/var/folders/q5/0z0yqctd3xb1wgpb7qcl0g140000gn/T/ipykernel_92939/2777375937.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features['zip'] = features['zip'].replace('', pd.NA)
/var/folders/q5/0z0yqctd3xb1wgpb7qcl0g140000gn/T/ipykernel_92939/2777375937.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features['zip'] = features['zip'].fillna('0')
/var/folders/q5/0z0yqctd3xb1wgpb7qcl0g140000gn/T/ipykernel_92939/2777375937.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features['zip'] = features['zip'].astype(int)

In [ ]:
features.dtypes

calltime     object
zip           int64
priority     object
nature       object
primeunit    object
dtype: object

In [13]:
features

,calltime,zip,priority,nature,primeunit
14,2018-01-01 00:20:49.000,97401,5,ASSIST PUBLIC- POLICE,CAHOOT
27,2018-01-01 00:48:34.000,97402,7,ASSIST PUBLIC- POLICE,CAHOOT
28,2018-01-01 01:00:06.000,97401,7,ASSIST PUBLIC- POLICE,CAHOOT
37,2018-01-01 01:53:28.000,97402,7,CHECK WELFARE,CAHOOT
38,2018-01-01 01:56:06.000,97401,7,TRANSPORT,CAHOOT
...,...,...,...,...,...
1488507,2016-12-31 21:16:44.000,97401,7,TRANSPORT,CAHOOT
1488522,2016-12-31 21:55:13.000,97401,7,TRANSPORT,CAHOOT
1488557,2016-12-31 23:17:05.000,97402,5,CHECK WELFARE,CAHOOT
1488574,2016-12-31 23:55:57.000,97401,7,ASSIST PUBLIC- POLICE,CAHOOT
1488575,2016-12-31 23:59:27.000,97401,7,TRANSPORT,CAHOOT

In [14]:
#WHAT IS P?
features['priority'].value_counts()

priority
7    115968
5     41787
3     12215
1      4256
P      3626
8      2528
6      1762
4       202
        154
9        53
2        30
Name: count, dtype: int64

In [15]:
#P is now 20, nan are 9999
features['priority'] = features['priority'].astype(str).str.strip().replace('', pd.NA).fillna('9999').astype(str).str.replace('P','20').astype(int)

/var/folders/q5/0z0yqctd3xb1wgpb7qcl0g140000gn/T/ipykernel_13763/445002643.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features['priority'] = features['priority'].astype(str).str.strip().replace('', pd.NA).fillna('9999').astype(str).str.replace('P','20').astype(int)

In [16]:
features.dtypes

calltime     object
zip          object
priority      int64
nature       object
primeunit    object
dtype: object

In [17]:
features

,calltime,zip,priority,nature,primeunit
14,2018-01-01 00:20:49.000,97401,5,ASSIST PUBLIC- POLICE,CAHOOT
27,2018-01-01 00:48:34.000,97402,7,ASSIST PUBLIC- POLICE,CAHOOT
28,2018-01-01 01:00:06.000,97401,7,ASSIST PUBLIC- POLICE,CAHOOT
37,2018-01-01 01:53:28.000,97402,7,CHECK WELFARE,CAHOOT
38,2018-01-01 01:56:06.000,97401,7,TRANSPORT,CAHOOT
...,...,...,...,...,...
1488507,2016-12-31 21:16:44.000,97401,7,TRANSPORT,CAHOOT
1488522,2016-12-31 21:55:13.000,97401,7,TRANSPORT,CAHOOT
1488557,2016-12-31 23:17:05.000,97402,5,CHECK WELFARE,CAHOOT
1488574,2016-12-31 23:55:57.000,97401,7,ASSIST PUBLIC- POLICE,CAHOOT
1488575,2016-12-31 23:59:27.000,97401,7,TRANSPORT,CAHOOT

In [18]:
#What is the difference between the responding unit and the primary unit
features['primeunit'].unique()

array(['CAHOOT'], dtype=object)

In [19]:
features.dtypes

calltime     object
zip          object
priority      int64
nature       object
primeunit    object
dtype: object

In [20]:
features['calltime'] = pd.to_datetime(features['calltime'])

/var/folders/q5/0z0yqctd3xb1wgpb7qcl0g140000gn/T/ipykernel_13763/3006250596.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features['calltime'] = pd.to_datetime(features['calltime'])

In [21]:
features['Call_Year'] = features['calltime'].dt.year
features['Call_Month'] = features['calltime'].dt.month
features['Call_Time'] = features['calltime'].dt.time
features['Call_Day'] = features['calltime'].dt.weekday + 1
features['Call_Hour'] = features['calltime'].dt.hour

/var/folders/q5/0z0yqctd3xb1wgpb7qcl0g140000gn/T/ipykernel_13763/3803756601.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features['Call_Year'] = features['calltime'].dt.year
/var/folders/q5/0z0yqctd3xb1wgpb7qcl0g140000gn/T/ipykernel_13763/3803756601.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features['Call_Month'] = features['calltime'].dt.month
/var/folders/q5/0z0yqctd3xb1wgpb7qcl0g140000gn/T/ipykernel_13763/3803756601.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features['Call_Time'] = features['calltime'].dt.time
/var/folders/q5/0z0yqctd3xb1wgpb7qcl0g140000gn/T/ipykernel_13763/3803756601.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features['Call_Day'] = features['calltime'].dt.weekday + 1
/var/folders/q5/0z0yqctd3xb1wgpb7qcl0g140000gn/T/ipykernel_13763/3803756601.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features['Call_Hour'] = features['calltime'].dt.hour

In [22]:
features

,calltime,zip,priority,nature,primeunit,Call_Year,Call_Month,Call_Time,Call_Day,Call_Hour
14,2018-01-01 00:20:49,97401,5,ASSIST PUBLIC- POLICE,CAHOOT,2018,1,00:20:49,1,0
27,2018-01-01 00:48:34,97402,7,ASSIST PUBLIC- POLICE,CAHOOT,2018,1,00:48:34,1,0
28,2018-01-01 01:00:06,97401,7,ASSIST PUBLIC- POLICE,CAHOOT,2018,1,01:00:06,1,1
37,2018-01-01 01:53:28,97402,7,CHECK WELFARE,CAHOOT,2018,1,01:53:28,1,1
38,2018-01-01 01:56:06,97401,7,TRANSPORT,CAHOOT,2018,1,01:56:06,1,1
...,...,...,...,...,...,...,...,...,...,...
1488507,2016-12-31 21:16:44,97401,7,TRANSPORT,CAHOOT,2016,12,21:16:44,6,21
1488522,2016-12-31 21:55:13,97401,7,TRANSPORT,CAHOOT,2016,12,21:55:13,6,21
1488557,2016-12-31 23:17:05,97402,5,CHECK WELFARE,CAHOOT,2016,12,23:17:05,6,23
1488574,2016-12-31 23:55:57,97401,7,ASSIST PUBLIC- POLICE,CAHOOT,2016,12,23:55:57,6,23
1488575,2016-12-31 23:59:27,97401,7,TRANSPORT,CAHOOT,2016,12,23:59:27,6,23

In [23]:
features.dtypes

calltime      datetime64[ns]
zip                   object
priority               int64
nature                object
primeunit             object
Call_Year              int32
Call_Month             int32
Call_Time             object
Call_Day               int32
Call_Hour              int32
dtype: object

In [24]:
features

,calltime,zip,priority,nature,primeunit,Call_Year,Call_Month,Call_Time,Call_Day,Call_Hour
14,2018-01-01 00:20:49,97401,5,ASSIST PUBLIC- POLICE,CAHOOT,2018,1,00:20:49,1,0
27,2018-01-01 00:48:34,97402,7,ASSIST PUBLIC- POLICE,CAHOOT,2018,1,00:48:34,1,0
28,2018-01-01 01:00:06,97401,7,ASSIST PUBLIC- POLICE,CAHOOT,2018,1,01:00:06,1,1
37,2018-01-01 01:53:28,97402,7,CHECK WELFARE,CAHOOT,2018,1,01:53:28,1,1
38,2018-01-01 01:56:06,97401,7,TRANSPORT,CAHOOT,2018,1,01:56:06,1,1
...,...,...,...,...,...,...,...,...,...,...
1488507,2016-12-31 21:16:44,97401,7,TRANSPORT,CAHOOT,2016,12,21:16:44,6,21
1488522,2016-12-31 21:55:13,97401,7,TRANSPORT,CAHOOT,2016,12,21:55:13,6,21
1488557,2016-12-31 23:17:05,97402,5,CHECK WELFARE,CAHOOT,2016,12,23:17:05,6,23
1488574,2016-12-31 23:55:57,97401,7,ASSIST PUBLIC- POLICE,CAHOOT,2016,12,23:55:57,6,23
1488575,2016-12-31 23:59:27,97401,7,TRANSPORT,CAHOOT,2016,12,23:59:27,6,23

In [25]:
features['Call_Day'] = features['Call_Day'].astype(int)
features['Call_Day'] = features['Call_Day'].astype(int)
features['Call_Month'] = features['Call_Month'].astype(int)
features['Call_Year'] = features['Call_Year'].astype(int)

/var/folders/q5/0z0yqctd3xb1wgpb7qcl0g140000gn/T/ipykernel_13763/33829347.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features['Call_Day'] = features['Call_Day'].astype(int)
/var/folders/q5/0z0yqctd3xb1wgpb7qcl0g140000gn/T/ipykernel_13763/33829347.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features['Call_Day'] = features['Call_Day'].astype(int)
/var/folders/q5/0z0yqctd3xb1wgpb7qcl0g140000gn/T/ipykernel_13763/33829347.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features['Call_Month'] = features['Call_Month'].astype(int)
/var/folders/q5/0z0yqctd3xb1wgpb7qcl0g140000gn/T/ipykernel_13763/33829347.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features['Call_Year'] = features['Call_Year'].astype(int)

In [26]:
features.dtypes

calltime      datetime64[ns]
zip                   object
priority               int64
nature                object
primeunit             object
Call_Year              int64
Call_Month             int64
Call_Time             object
Call_Day               int64
Call_Hour              int32
dtype: object

In [27]:
features.shape

(182581, 10)

In [28]:
features['nature'].value_counts()

nature
ASSIST PUBLIC- POLICE     42207
CHECK WELFARE             36783
TRANSPORT                 27947
PUBLIC ASSIST, CAHOOTS    19172
CHECK WELFARE, CAHOOTS    15791
                          ...
ASSIST PUBLIC WORKS           1
WATER RESCUE                  1
ANIMAL AT LARGE               1
WRONG WAY DRIVER              1
DOWN LINE                     1
Name: count, Length: 151, dtype: int64

In [29]:
#Group all the more insignicicant incident descriptions into an 'Other' Category (Anything that doesn't represent more than 1% of the data)
def collapse_rare_incidents(df, col_name='nature', threshold=0.01):
    # Calculate value counts normalized to get proportions
    value_counts = df[col_name].value_counts(normalize=True)
    
    # Find incident types that occur more than the threshold (e.g., 1%)
    valid_types = value_counts[value_counts > threshold].index
    
    # Apply the change
    df[col_name] = df[col_name].apply(lambda x: x if x in valid_types else 'OTHER')
    
    return df

In [30]:
features = collapse_rare_incidents(features)

/var/folders/q5/0z0yqctd3xb1wgpb7qcl0g140000gn/T/ipykernel_13763/1742347479.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_name] = df[col_name].apply(lambda x: x if x in valid_types else 'OTHER')

In [31]:
features['nature'].value_counts()

nature
ASSIST PUBLIC- POLICE        42207
CHECK WELFARE                36783
TRANSPORT                    27947
PUBLIC ASSIST, CAHOOTS       19172
OTHER                        16121
CHECK WELFARE, CAHOOTS       15791
SUICIDAL SUBJECT              6428
TRANSPORT, CAHOOTS            4751
SUICIDAL SUBJECT, CAHOOTS     4344
INTOXICATED SUBJECT           2937
ASSIST PD, CAHOOTS            2175
FOUND SYRINGE                 1987
INFO / ATL, CAHOOTS           1938
Name: count, dtype: int64

In [32]:
features['nature'] = features['nature'].str.replace('SUICIDAL SUBJECT, CAHOOTS', 'SUICIDAL SUBJECT')
features['nature'] = features['nature'].str.replace('TRANSPORT, CAHOOTS', 'TRANSPORT')
features['nature'] = features['nature'].str.replace('ASSIST PUBLIC- POLICE', 'ASSIST PUBLIC')
features['nature'] = features['nature'].str.replace('PUBLIC ASSIST, CAHOOTS', 'ASSIST PUBLIC')
features['nature'] = features['nature'].str.replace('CHECK WELFARE, CAHOOTS', 'CHECK WELFARE')
features['nature'] = features['nature'].str.replace('ASSIST PD, CAHOOTS', 'ASSIST PD')

/var/folders/q5/0z0yqctd3xb1wgpb7qcl0g140000gn/T/ipykernel_13763/1792631846.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features['nature'] = features['nature'].str.replace('SUICIDAL SUBJECT, CAHOOTS', 'SUICIDAL SUBJECT')
/var/folders/q5/0z0yqctd3xb1wgpb7qcl0g140000gn/T/ipykernel_13763/1792631846.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features['nature'] = features['nature'].str.replace('TRANSPORT, CAHOOTS', 'TRANSPORT')
/var/folders/q5/0z0yqctd3xb1wgpb7qcl0g140000gn/T/ipykernel_13763/1792631846.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features['nature'] = features['nature'].str.replace('ASSIST PUBLIC- POLICE', 'ASSIST PUBLIC')
/var/folders/q5/0z0yqctd3xb1wgpb7qcl0g140000gn/T/ipykernel_13763/1792631846.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features['nature'] = features['nature'].str.replace('PUBLIC ASSIST, CAHOOTS', 'ASSIST PUBLIC')
/var/folders/q5/0z0yqctd3xb1wgpb7qcl0g140000gn/T/ipykernel_13763/1792631846.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features['nature'] = features['nature'].str.replace('CHECK WELFARE, CAHOOTS', 'CHECK WELFARE')
/var/folders/q5/0z0yqctd3xb1wgpb7qcl0g140000gn/T/ipykernel_13763/1792631846.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features['nature'] = features['nature'].str.replace('ASSIST PD, CAHOOTS', 'ASSIST PD')

In [35]:
features['zip'].unique()

array([97401, 97402, 97405, 97408, 97404, 97403, 97477, '97401', '97403',
       '97408', '97402', '97404', '97405', '97448', 97448, '     ',
       '94701'], dtype=object)

In [45]:
features['zip'] = features['zip'].astype(str).str.strip().replace('94701','97401').replace('','9999').astype(int)

/var/folders/q5/0z0yqctd3xb1wgpb7qcl0g140000gn/T/ipykernel_13763/1595391274.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features['zip'] = features['zip'].astype(str).str.strip().replace('94701','97401').replace('','9999').astype(int)

In [46]:
features['zip'].unique()

array([97401, 97402, 97405, 97408, 97404, 97403, 97477, 97448,  9999])

In [33]:
features.to_csv('clean_data.csv')